@use '../abstracts/variables' as *;

#root {
  margin: 0 auto;
  overflow-x: hidden;
}

li {
  list-style: none;
  padding: .5em 0;
  width: 80%;
  margin: 0 auto;
}

button {
  transition: ease-in-out 200ms;
  &:hover, &:focus {
    opacity: .75;
    scale: 1.05;
    color: $clr-primary-violet;
  }
}

@media (min-width: 900px) {
  hr {
    display: none;
  }
}
