@use '../abstracts/variables' as *;

body {
  margin: 0;
  text-align: center;
  font-size: $fs-body;
  font-family: $ff-primary;
  font-weight: $fw-medium;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: $clr-neutral-gray;
}

h1 {
  color: $clr-neutral-darkviolet;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
    line-height: 1.25;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }
}