@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

$clr-primary-cyan: hsl(180, 66%, 49%);
$clr-primary-violet: hsl(257, 27%, 26%);

$clr-secondary-red: hsl(0, 87%, 67%);

$clr-neutral-lightgray: hsl(0, 0%, 98%);
$clr-neutral-gray: hsl(0, 0%, 75%);
$clr-neutral-grayviolet: hsl(257, 7%, 63%);
$clr-neutral-blue: hsl(255, 11%, 22%);
$clr-neutral-darkviolet: hsl(260, 8%, 14%);

$fs-body: 1.125rem;
$ff-primary: 'Poppins', sans-serif;
$fw-medium: 500;
$fw-bold: 700;

$mobile-shorten-bg: url('src/images/bg-shorten-mobile.svg');
$mobile-cta-bg: url('src/images/bg-boost-mobile.svg');
