@use '../abstracts/variables' as *;

.card {
  background-color: white;
  border-radius: .5em;
}

.card-content {
  position: relative;
  padding: 3.5em 0 2em 0; 
}

.card-img {
  position: absolute;
  top: -2.5em;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: $clr-primary-violet;
  padding: 1.5em;
  border-radius: 100vmax;
}

@media (min-width: 900px) {
  .card-content {
    text-align: start;
  }

  .card-img {
    margin: 0;
  }

  .card:nth-child(1) { 
    margin-top: -10%;
  }

  .card:nth-child(5) {
    margin-bottom: -10%;
  }
}