@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  background-color: $clr-neutral-darkviolet;
  padding: 3em 0;
}

.nav-group-name {
  color: white;
  font-weight: $fw-bold;
}

.nav-link-name {
  color: $clr-neutral-gray;
  transition: ease-in-out 200ms;
}
.nav-link-name:hover, .nav-link-name:focus
,.social-item:hover, .social-item:focus {
  opacity: .75;
  scale: 1.1;
}

.socials {
  @include flexbox-row;
  gap: 1.75em;
}

.social-item {
  width: auto;
  margin: 0;
  transition: ease-in-out 200ms;
}

@media(min-width: 1000px) {
  .footer-container,
  .footer-ul,
  .navgroups {
    @include flexbox-row();
    align-items: flex-start;
  }

  .footer-container {
    justify-content: space-between;
  }

  .footer-ul {
    margin: 0;
  }

  .navgroups {
    text-align: start;
    gap: 4em;
    padding: 0;
    margin-left: 1em;
  }

  .nav-link-name,
  h4 {
    min-width: 9rem;
    margin: 0;
  }

  .socials-container {
    padding: 0;
    margin-left: 3vw;
  }
}